<footer>

			<img src="http://i.imgur.com/cRkeamb.jpg" id="profile-pic"/>
			<div id="social">
				<a href="http://instagram.com/akievet"><img src="/img/instagram.png" alt="Instagram Logo" class="social-icon"></a>
				<a href="http://amandakievet.tumblr.com/"><img src="/img/tumblr7.png" alt="Tumblr Logo" class="social-icon"></a>
				<a href="https://twitter.com/amandakievet"><img src="/img/social71.png" alt="Twitter Logo" class="social-icon"></a>
				<a href="https://www.facebook.com/akievet"><img src="/img/facebook7.png" alt="Facebook Logo" class="social-icon"></a>
				<a href="http://www.linkedin.com/in/akievet/"><img src="/img/linkedin2.png" alt="linkedin Logo" class="social-icon"></a>
				<a href="https://www.flickr.com/photos/akievetphotography/"><img src="/img/flickr7.png" alt="Flickr Logo" class="social-icon"></a>
				<a href="https://www.behance.net/akievet"><img src="/img/behance2.png" alt="Behance Logo" class="social-icon"></a>
			</div>
		</footer>
