*{
	box-sizing: border-box;
}


/*=====================================================*/
/*INTRO STYLES*/
/*=====================================================*/

section{
	width: 100%;
	/*padding: 0 7%;*/
	display: table;
	margin: 0;
	height: 100vh;

	&:nth-of-type(2n) {
    background-color: #FE4B74;
  }
}

 section img{
 		width: 100vw;
 		position: absolute;
		z-index: -1;
  }




/*=====================================================*/
/*NAVIGATION STYLES*/
/*=====================================================*/


body{
	padding-top: 60px;
}

nav{
	background: rgba(255,255,255,.95);
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	transition: transform 200ms linear;
}

.nav-up{
	top: -60px;
	transform: translateY(-100%);

}

.nav-down{
	transform: translateY(0%);
}

nav li{
	height: auto;
	width: 100px;
	float: left;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar a {
	padding: 22px 0;
	text-decoration: none;
	display: block;
}

.logout{
	margin: 15px 1em 0;
}

.logout input[type="submit"]{
	background: transparent;
	border: none;
}



/*=====================================================*/
/*HOVER NAV BAR*/
/*=====================================================*/


/*
.nav-wrap{
	width: 100%;
	min-width: 300px;
	height: 50px;
	margin: 0;
	z-index: 99;
	position: relative;
}

.navbar{
	text-align: center;
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
}

.navbar li{
	height: auto;
	width: 100px;
	float: left;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}


.navbar a {
	padding: 13px 0;
	text-decoration: none;
	color: white;
	display: block;
}

.navbar li:hover,
.navbar a:hover {
}

.navbar li ul{
	display: none;
	height: auto;
	margin: 0;
	padding: 0;
}

.navbar li:hover ul{
	display: block;
}

.navbar li ul li{
	background-color: #fcff24;
}
*/



/*=====================================================*/
/*FORM STYLES*/
/*=====================================================*/

input[type="text"],
textarea{
	width: 100%;
}

.blog-body{
	height: 300px;
}

/*=====================================================
POST STYLES
=====================================================*/

div.post-title{
	margin-top: 50px;
}

section div.post-title{
	margin-top: 40%;
}
section h1{
	color: #fff;
	font-size: 6.0vw;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5vw;
	text-align: center;
}

section h3{
	font-family: "Cambo","Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif;
	color: white;
	text-align: center;
	margin-top: -5vh;
}


#main-title{
	margin: 100px 0;
	text-align: center;
}

#main-title h4{
	font-family: "Cambo","Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif;
}

.post-title a {
	text-decoration: none;
}

h3.title{
	text-transform: uppercase;
	letter-spacing: 2px;
}



h4.subtitle{
	font-family: "Cambo","Hoefler Text","Baskerville Old Face",Garamond,"Times New Roman",serif;;
}

.post-footer{
	padding-top: 20px;
}


div.footer{
	height: 100px;
}

footer div{
	height: 100px;
}

