<section class="intro">
	<div class="nav-wrap">
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><form action="/users/new" method="get">
				<input type="submit" value="Sign-Up" class="auth-button">
			</form></li>
			<li><form action="/login" method="get">
				<input type="submit" value="Log-In" class="auth-button">
			</form>
		</li>
	</ul>
</div>
</section>