<section class="intro">
	<div class="nav-wrap">
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/users/new">Sign-Up</a></li>
			<li><a href="/sessions/new">Log In</a></li>
		</ul>
	</div>
</section>