<div class="twelve columns offset-by-two">
	<h1>New Post</h1>
	<form action="/posts" method="post">
		Title: <input type="text" name="title">
		Subtitle: <input type="text" name="subtitle">
		Body: <textarea name="body" rows="15" cols="100%"></textarea>
		Head Image: <input type="text" name="image">
		Body Image: <input type="text" name="image_src">
		Caption: <input type="text" name="caption">
		Tags: <br>
		<% @tags.each do |tag| %>
		<input type="checkbox" name="word[]" value="<%= tag.id %>"><%= tag.word %><br>
		<% end %>
		<input type="submit" value="Add Post">
	</form>
</div>
